.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.navbar .logo{
    position: fixed;
    left: 20px;
    width: 80px;
    cursor: pointer;
}

.navbar .avatar{
    position: fixed;
    right: 20px;
    width: 30px;
    cursor: pointer;
}